<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <servlet>
    <servlet-name>kc_bm</servlet-name>
    <servlet-class>com.Controller.kc_bm</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>kc_bm</servlet-name>
    <url-pattern>/kc_bm</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ArduinoBase</servlet-name>
    <servlet-class>com.Model.ArduinoBase</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ArduinoBase</servlet-name>
    <url-pattern>/ArduinoBase</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ScratchBase</servlet-name>
    <servlet-class>com.Model.ScratchBase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScratchBase</servlet-name>
    <url-pattern>/ScratchBase</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BIOBase</servlet-name>
    <servlet-class>com.Model.BIOBase</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BIOBase</servlet-name>
    <url-pattern>/BIOBase</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>searchClassMsg</servlet-name>
    <servlet-class>com.searchMsg.searchClassMsg</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>searchClassMsg</servlet-name>
    <url-pattern>/searchClassMsg</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>uploadPic</servlet-name>
    <servlet-class>com.Model.uploadPic</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>uploadPic</servlet-name>
    <url-pattern>/uploadPic</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>active_add</servlet-name>
    <servlet-class>com.Controller.active_add</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>active_add</servlet-name>
    <url-pattern>/active_add</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>active_query</servlet-name>
    <servlet-class>com.Controller.active_query</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>active_query</servlet-name>
    <url-pattern>/active_query</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>active_show</servlet-name>
    <servlet-class>com.Controller.active_show</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>active_show</servlet-name>
    <url-pattern>/active_show</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>active_delete</servlet-name>
    <servlet-class>com.Controller.active_delete</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>active_delete</servlet-name>
    <url-pattern>/active_delete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>active_query_byName</servlet-name>
    <servlet-class>com.Controller.query_by_className</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>active_query_byName</servlet-name>
    <url-pattern>/active_query_byName</url-pattern>
  </servlet-mapping>


  <welcome-file-list>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>
  <display-name>Archetype Created Web Application</display-name>
</web-app>
